<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<center>
    <% booksList.forEach((book)=>{ %>
        <p>
            <%= book.name %><br>
            <%= book.cupBoardNumber %><br>
            <%= book.genre %><br><br>
        </p>
    <% }) %>
</center>
</body>
</html>