<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<center>
    <form action="/books/new" method="post">
        <label>
            name
            <input type="text" name="name" placeholder="name" required>
        </label><br>
        <label>
            Cup Board Number
            <input type="number" name="cupBoardNumber" placeholder="cupBoardNumber">
        </label><br>
        <label>
            Genre
            <input type="text" name="genre" placeholder="genre">
        </label><br>
        <input type="submit">
    </form>
</center>
</body>
</html>